* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

#container {
    display: flex;
    flex-direction: column;
    width: 500px;
    align-self: center;
    position: fixed;
    top: 25%;
    left: 40%;
    margin-top: -50px;
    margin-left: -100px;
    height: 600px;
    background-color: #000000;
    color: #ffffff;
    font-family: 'Stick No Bills', sans-serif;

}

#display {
    display: flex;
    flex-direction: column;
    padding: 5px;
    flex: 1;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin: 10px;
    border: .5px solid whitesmoke;
}

#display #digits {
    font-size: 60px;
}

#button-panel {
    margin: 0 10px 10px 10px;
    display: flex;
    flex-wrap: wrap;
}
#button-panel button {
    background-color: darkgray;
    height: 90px;
    width: 25%;
    font-size: 40px;
    color: #ffffff;
    font-family: 'Stick No Bills', sans-serif;

}
#button-panel #zero {
    flex: 2;
}